.venv
__pycache__
.env
temp.__pycache__
misc_unrelated
dataset/archived
ignored_for_now
.DS_Store
exp.zip
parseval_benchmark_workspace
parseval_workspace_*
parseval*
local_eval_workspace_worker_*
*/test_dbs
sample_exp_run/*each
sample_exp_run/**/outputs/*.jsonl
*.DS_Store
.vscode
.pytest_cache
dataset/spider_data*
dataset/train*
*.sqlite
test_dbs/spider/*
schemas