.venv
__pycache__/
*.pyc
.env
.DS_Store
*.DS_Store
.vscode
.pytest_cache
dataset/spider_data*
dataset/train*
*.sqlite
test_dbs/spider/*
schemas
brainstorm
llm_quirks_tests/*
dataset
experiment_workspace/*
pipeline_tests/evaluation_process/*.jsonl
live_eval_worker*